<!-- sacado de stackoverflow: https://stackoverflow.com/questions/45197624/multiple-form-groups-on-single-row-in-bootstrap-4 -->

Read more: https://html.com/tags/comment-tag/#ixzz5RIc9i33B

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<form>
	<div class="row">
  <div class="col-xs-6 form-group">
    <label for="inputEmail3" class="control-label">Hola</label>
    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
  </div>
  <div class="col-xs-6 form-group">
    <label for="inputPassword3" class="control-label">Que</label>
    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
  <div class="col-xs-6 form-group">
    <label for="inputPassword3" class="control-label">Tal</label>
    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
  </div>
  </div>  
</form>

